.wrapper {
   width: 1280px;
   margin: 0 auto;
}
.header {
   border-bottom: 1px solid #EBE8F4;
   margin-bottom: 80px;
   padding: 25px 0;
}
.header_wrapper {
   display: flex;
   align-items: center;
}

.header-logo {
   color: #22202E;
   font-family: Montserrat;
   font-size: 24px;
}

.header_navbar_menu {
   display: flex;
   margin-left: 149px;
}

.navbar_menu-list:not(:last-child) {
   padding-right: 44px;
}

.navbar_menu-link {
   color: #726E8D;
   font-family: "Open Sans" sans-serif;
   font-size: 16px;
}

.navbar_icons_block {
   display: flex;
   margin-left: auto;
}

.navbar_icon {
   display: block;
   width: 16px;
   height: 16px;
}
.navbar_icon:not(:first-child) {
   margin-left: 16px;
}

.search_icon {
   background-image: url("/images/search.svg");
}
.shop_icon {
   background-image: url("/images/shop.svg");
}
.profile_icon {
   background-image: url("/images/profile.svg");
}

.main_wrapper-title {
   text-align: center;
   color: #2A254B;
   font-family: Montserrat;
   font-size: 36px;
   font-weight: 400;
   line-height: 140%;
   margin-bottom: 24px;
}

.filter_container {
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;
}

.dropdown_menu-items,
.sort_menu-items {
   padding: 12px 24px;
   border: none;
   outline: none;
   color: #2A254B;
   font-family: "Open Sans", sans-serif;
   font-size: 16px;
   line-height: 150%;
}
.sort_menu-items {
   margin-left: 16px;
}

.sort_menu {
   display: flex;
   align-items: center;
}
.sort-text {
   color: #2A254B;
   font-family: "Open Sans", sans-serif;
   font-size: 14px;
   line-height: 150%;
}

.cart_section {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
   grid-template-rows: repeat(3, 1fr);
   grid-gap: 48px 20px;
   margin-bottom: 48px;
}
.cart_discription {
   color: #2A254B;
   margin-top: 24px;
}

.cart_discription-text {
   font-family: Montserrat;
   font-size: 20px;
   line-height: 140%;
}
.cart_discription-price {
   font-family: "Open Sans", sans-serif;
   font-size: 18px;
   line-height: 150%;
   margin-top: 8px;
}

.view_button {
   display: block;
   margin: 0 auto;
   color: #2A254B;
   background: #F9F9F9;
   border: none;
   font-family: "Open Sans", sans-serif;
   font-size: 16px;
   line-height: 150%;
   padding: 16px 32px;
   margin-bottom: 40px;
}

.join_section {
   display: flex;
   justify-content: flex-end;
}



.background_image {
   background: url('/images/bg_singup.jpg') left/cover no-repeat;
   width: 50%;
   height: 521px;
   position: absolute;
   left: 0;
}

.join_section_block {
   justify-content: flex-end;
   padding: 70px 50px;
}

.join_title {
   color: #2A254B;
   font-family: Montserrat;
   font-weight: 400;
   font-size: 32px;
   margin-bottom: 21px;
}
.join_text {
   color: #2A254B;
   font-family: "Open Sans", sans-serif;
   font-size: 16px;
   line-height: 150%;
   word-wrap: wrap;
   width: 470px;
}
.join_button {
   margin-top: 216px;
   padding: 16px 32px;
   background: #2A254B;
   color: #fff;
   font-family: "Open Sans", sans-serif;
   font-size: 16px;
   line-height: 150%;
   border: #2A254B;
}

.footer {
   background: #2A254B;
}

.footer_wrapper {
   padding: 58px 0 0;
}

.footer_nav_menu {
   display: flex;
   margin-bottom: 58px;
}

.footer_menu-list,
.footer_category-list,
.footer_company-list {
   color: #fff;
   font-family: "Open Sans", sans-serif;
   font-size: 14px;
   padding-bottom: 12px;
}
.footer_menu-list:first-child,
.footer_category-list:first-child,
.footer_company-list:first-child {
   font-size: 16px;
}

.footer_menu-items,
.footer_category-items {
   padding-right: 100px;
}
.map_image {
   margin-left: auto;
}

.footer_social_icon {
   display: block;
   width: 24px;
   height: 24px;
}

.copyright_section {
   display: flex;
   justify-content: space-between;
   border-top: 1px solid #4E4D93;
   padding: 25px 0;
}

.copy_text {
   color: var(--White, #FFF);
   font-family: "Open Sans", sans-serif;
   font-size: 14px;
}

.social_media_icons {
   display: flex;
}
.footer_social_icon:not(:first-child) {
   margin-left: 24px;
}

.linkedin {
   background-image: url("/images/linkedin.svg");
}
.facebook {
   background-image: url("/images/facebook.svg");
}
.instagram {
   background-image: url("/images/instagram.svg");
}
.skype {
   background-image: url("/images/skype.svg");
}
.twitter {
   background-image: url("/images/twitter.svg");
}
.pinterest {
   background-image: url("/images/pinterest.svg");
}